<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
</head>
<body>
<div>
  <ol>
    <li th:each="searchResult, i : ${searchResultList}">
      <img th:src="${searchResult.snippet.thumbnails.high.url}" alt="Video Preview" />
      <span th:text="${searchResult.snippet.title}" />
      <a th:href="${'https://www.youtube.com/watch?v=' + searchResult.id.videoId}" target="_self">Listen</a>
      <form th:action="@{/youtube/remove/{id}(id=${i.index})}" th:method="POST">
        <button type="submit">Remove</button>
      </form>
    </li>
  </ol>
  <form th:action="@{/youtube/createPlaylist}" method="POST">
    <label for="private">Private playlist</label>
    <input type="checkbox" id="private" name="isPublic" value="Private" checked="checked"/>
    <label>Enter playlist name:</label>
    <input type="text" name="playlistName" value="My playlist">
    <input type="submit" value="Create playlist"/>
  </form>
</div>
</body>
</html>